.card-ser {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  cursor: pointer;

}
.card-ser::before {
  content: "";
  background: var(--bgc-blue);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.card-ser:hover::before {
  height: 100%;
}
.card-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.card-ser:hover .card-txtx {
  top: 50%;
  opacity: 1;
}
.card-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.card-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.card-services {
  box-shadow: 0 3px 6px 4px #ddd;
}
.card-services div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40%;
  border-radius: 0 0 30px 30px;
}
